@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto+Mono&display=swap');
*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  max-width:100%;
/*   border:1px solid grey; */
}
html{
  font-size:62.5%;
}
body{
  font-size:1.6rem;
  font-family: 'Roboto Mono', monospace;
  line-height:1.5;
}
h2{
  font-size:1.6rem;
  font-weight:normal;
}
h1{
  font-family: 'Chelsea Market', cursive;
  font-size:4rem;
  letter-spacing:2px;
}
section, footer{
  padding:4% 0;
}
a{
  text-decoration:none;
  color:#fff;
  display:inline-block;
  width:20%;
  text-align:center;
  border-radius:10px;
}
strong{
  font-weight:bolder;
}

nav{
  display:flex;
  justify-content:space-evenly;
  padding:2% 0;
}
.Plan{
  background-color:#FF764E;
 }
.Learn{
  background-color:#5ED3EB;
 }
.Involved{
  background-color:#FFCD69;
 }  
.headingTop{
  display:flex;
  justify-content:space-around;
  padding:4% 0;
}
.left{
  width:40%;
  display:flex;
  justify-content:center;
  align-items:center;
}
.img{
  width:60%;
}
.left img{
  border-radius:50%;
}
.right{
  width:50%;
  display:flex;
  justify-content:center;
  align-items:center;
}
.right .text{
  text-align:center;
  width:90%;
}
.paragraphOne{
  width:95%;
  background-color:#DDB9A3;
  margin:0 auto;
  padding:2%;
  color:#fff;
}
.paragraphOne p{
  margin: 2% 0;
}
#plan{
  display:flex;
  flex-direction:column;
  align-items:center;
}
.box{
  width:35%;
  margin:4% 0;
  display:flex;
  flex-direction:column;
  align-items:center;
  text-align:center;
}
.box img{
  width:60%;
}

/*hero image section */
.hero-image{
  background-image:url('https://github.com/LambdaSchool/web-module-project-intro-css/blob/main/assets/footer_img.jpg?raw=true');
  background-size:cover;
  background-position:top;
  height:40vh;
}

footer{
  background-color:#F9E7DC;
}