@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto+Mono&display=swap'); 



body{
  font:'Roboto Mono' monospace, 150px; 
  line-height: 1.5;
  border: 150px solid black;

}

h1{
  font-family: 'Chelsea Market', cursive;
  line-height: 1.5;
  font-size: 70px;
  letter-spacing: 2px;
}

h2{
  font-size: 50px;
  font-weight: normal;
}
p{
  font-size: 35px;
  text-align: center;
}
section, footer{
  padding: 4% 0;
}
a{
  text-decoration: none;
  color: #ffffff;
  /* display: inline-block; */
  width: 150px;
  text-align: center;
  border-radius: 50px;
  padding: 1%;
 
 
}

/* header section styles */

nav{
  display: flex;
  justify-content:space-evenly;
  padding:2% 0;
  font-size: 30px;
  padding-bottom: 3%; 
  text-align: center;
  /* word-spacing: 2rem; */
  /* border-radius: 50px; */
}

.plan{
  background-color: #FF764f;
}

.about{
  background-color: #5ED3EB;
}

.involved{
  background-color: #FFCD69;
}
.top{
  display: flex;
  justify-content: space-around;
}
.left {
  width:10%;
  padding-left: 25rem;
  font-size: 25rem;
}
.left img {
  border-radius: 60%;
  height: 40rem;
}
.right {
  width: 50%;
}
.right .paragraph-One{
  text-align: center;
}
.paragraph-two{
  width: 95%;
  background-color: #DDB9A3;
  margin: 0 auto;
  padding: 2%;
  color:#ffffff;
  font-size: 50px;
  text-align: center;
}
.paragraph-two p{
  margin: 2%;
  
}
#plan{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box{
  width: 35%;
  margin: 4% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;  
}
.box img{
  width: 60%;
}

/* hero image*/
.hero-image{
  background-image:url('https://github.com/LambdaSchool/web-module-project-intro-css/blob/main/assets/footer_img.jpg?raw=true');
  background-size: cover;
  background-position: top;
  height: 40vh;
}

footer{
  background-color: #F9E7DC;
} 